.cart {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #333;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
  margin: 20px 0px 20px 0px;
}

/* BAG */
.bag-container {
  flex: 1;
  min-width: 350px;
  max-width: 750px;
}

.header {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.bag {
  display: flex;
  flex-direction: column; /* stack items vertically */
  gap: 20px;
}

.bag-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
  border-bottom: 1px solid #c6c6c6;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.left-side img {
  width: 100px;
  height: 200px;
  object-fit: contain;
}

.quantity {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(203, 203, 203);
}

.quantity-button {
  color: black;
  margin-bottom: auto;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.quantity-button:hover {
  background-color: rgb(203, 203, 203);
}

.quantity-button:active {
  background-color: rgb(113, 113, 113);
}

.middle {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-name {
  font-size: 18px;
  font-weight: bold;
}

.cart-ref_num {
  font-size: 16px;
  color: #666;
}

.right-side {
  width: 120px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-price {
  font-size: 18px;
  font-weight: bold;
  color: #111;
}


.summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 0;
  color: #333;
}

.subtotal,
.shipping,
.tax,
.total-price {
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  margin-top: 20px;
}

.btn-checkout button {
  width: 100%;
  height: 50px;
  text-align: center;
  background: black;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  transition: 0.2s ease;
  cursor: pointer;
}

.btn-checkout:hover {
  opacity: 0.82;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .cart-container {
    flex-direction: column;
    align-items: center;
  }

  .summary-container {
    width: 100%;
    max-width: 400px;
  }

  .bag-item {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .right-side {
    width: 100%; /* take full row */
    text-align: left; /* push price to the right */
    margin-top: 10px;
    margin-left: 21px;
  }
}
