.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky; /* make it stick */
  top: 0;
  left: 0;
  width: 100%;
  background: white; /* add background so content doesn't overlap */
  z-index: 1000; /* keep it above other elements */
}

.logo {
  cursor: pointer;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 18px;
  transition: right 0.3s ease-in-out;
  cursor: pointer;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cart-icon .dot {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 25px;
}

.account-wrapper {
  cursor: pointer;
  transition: 0.3s ease;
}

.account-wrapper:hover {
  color: gray;
}

.account-wrapper:active {
  color: black;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 3px solid black;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.close-btn {
  display: none;
}

.account-wrapper {
  position: relative;
  cursor: pointer;
}

.account-dropdown {
  position: absolute;
  top: 23px;
  right: -20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 160px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.account-dropdown p {
  padding: 12px;
  margin: 0;
  text-align: left;
  color: #333;
  transition: background 0.2s;
}

.account-dropdown p:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  /* covers tablets + phones */
  .menu-list {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    background: white;
    height: 100vh; /* full height */
    width: 300px; /* fixed width for all devices */
    max-width: 80%; /* prevent overflow on tiny screens */
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    gap: 20px;
    z-index: 9999;
  }

  .menu-list.open {
    right: 0;
  }

  .close-btn {
    display: block;
    position: absolute;
    width: 90%;
    font-size: 28px;
    text-align: right;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .menu-icon {
    display: block;
  }
}
